.optionWrapper {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  border-right: solid lightgray 1px;
  padding: 0px 45px 0px 40px;

  &:hover {
    svg {
      fill: $green;
    }
  }

  p {
    margin: 0;
    padding-top: 10px;
    line-height: 17px;
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
  }
}

.subOptionWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 10px 0px;
  margin-left: 15px;

  &:hover {
    svg {
      fill: $green
    }
  }

  p {
    margin: 0;
    color: black;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    padding-left: 10px;
  }
}

.resourcesDropdown {
  min-width: 250px;
}
