.container {
  padding: 35px;
  max-width: 95%;
  min-width: 400px;

  @media (min-width: 1000px) {
    max-width: 600px;
  }

  .closeButton {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
    background: white;
    border: none;
  }
  p {
    font-size: 16px;
    line-height: 25px;
    padding: 0;
    margin: 8px 0px 0px 0px;
  }
}
