.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $mobile-breakpoint) {
    align-items: center;
  }
  
  .disclaimers {  
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $mobile-breakpoint) {
      align-items: center;
    }
  }

  .text {
    color: #ADADAD
  }

  .filter-gray {
    filter: invert(25%) sepia(0%) saturate(1514%) hue-rotate(147deg) brightness(88%) contrast(78%)
  }
}