$footer-height: 40px;
$header-height: 65px;
$primary: black;
$secondary: gray;
$landing-page-height: 100vh;
$primary-gradient: linear-gradient(58deg, #08AEEA 37%, #2AF598 100%);
$blue: #08AEEA;
$dark-blue: #02232f;
$primary-medium: darken($blue, 40%);
$primary-dark: darken($blue, 80%);
$primary-black: #011117;
$green: #2AF598;
$mobile-breakpoint: 800px;
$background: #F6F9FC;